# Import the Dataset

In [ ]:
import pandas as pd

In [15]:
df_train = pd.read_csv('dataset/train.csv')
df_test = pd.read_csv('dataset/test.csv')
#sample_submission = pd.read_csv('dataset/sample_submission.csv')

In [20]:
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

# Cleaning the Text

Convert location and text to Lowercase for train and test dataset

In [25]:
#TRAIN
df_train['location'] = df_train['location'].str.lower()
df_train['text'] = df_train['text'].str.lower()

#TEST
df_test['location'] = df_test['location'].str.lower()
df_test['text'] = df_test['text'].str.lower()

In [26]:
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 just happened a terrible car crash
1   2     NaN      NaN  heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           apocalypse lighting. #spokane #wildfires
4  11     NaN      NaN      typhoon soudelor kills 28 in china and taiwan

Remove URL's from text column for train and test dataset

In [35]:
def clean_data(dataframe):
#replace URL of a text
    dataframe['text'] = dataframe['text'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')

clean_data(df_train)
clean_data(df_test)

C:\Users\varsh\AppData\Local\Temp\ipykernel_17716\1175398592.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  dataframe['text'] = dataframe['text'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')

In [38]:
df_test.head(35)
#print(df_train.iloc[33])

,id,keyword,location,text
0,0,NaN,NaN,just happened a terrible car crash
1,2,NaN,NaN,"heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,apocalypse lighting. #spokane #wildfires
4,11,NaN,NaN,typhoon soudelor kills 28 in china and taiwan
5,12,NaN,NaN,we're shaking...it's an earthquake
6,21,NaN,NaN,they'd probably still show more life than arse...
7,22,NaN,NaN,hey! how are you?
8,27,NaN,NaN,what a nice hat?
9,29,NaN,NaN,fuck off!
10,30,NaN,NaN,no i don't like cold!
11,35,NaN,NaN,nooooooooo! don't do that!
12,42,NaN,NaN,no don't tell me that!
13,43,NaN,NaN,what if?!
14,45,NaN,NaN,awesome!
15,46,ablaze,london,birmingham wholesale market is ablaze bbc news...
16,47,ablaze,niall's place | saf 12 squad |,@sunkxssedharry will you wear shorts for race ...
17,51,ablaze,nigeria,#previouslyondoyintv: toke makinwaûªs marriag...
18,58,ablaze,live on webcam,check these out: #nsfw
19,60,ablaze,"los angeles, califnordia",psa: iûªm splitting my personalities.\n\n?? t...
20,69,ablaze,threeonefive.,beware world ablaze sierra leone &amp; guap.
21,70,ablaze,washington state,burning man ablaze! by turban diva via @etsy
22,72,ablaze,"whoop ass, georgia",not a diss song. people will take 1 thing and ...
23,75,ablaze,india,rape victim dies as she sets herself ablaze: a...
24,84,ablaze,NaN,setting myself ablaze
25,87,ablaze,"scarborough, ontario",@ctvtoronto the bins in front of the field by ...
26,88,ablaze,NaN,#nowplaying alfons - ablaze 2015 on puls radio...
27,90,ablaze,"121 n la salle st, suite 500",'burning rahm': let's hope city hall builds a ...
28,94,ablaze,wandering,@philippaeilhart @dhublath hurt but her eyes a...
29,99,accident,"homewood, pa",accident cleared in #paturnpike on patp eb bet...
30,101,accident,NaN,just got to love burning your self on a damn c...
31,103,accident,NaN,i hate badging shit in accident
32,106,accident,usa,#3: car recorder zeroedgeå¨ dual-lens car came...
33,108,accident,massachusetts,coincidence or #curse? still #unresolved secre...
34,111,accident,bexhill,@traffic_southe @roadpol_east accident on a27 ...